html {
  font-size: 10px;
}

body {
  color: #666;
  font-size: 1.5rem;
  padding: 10px;
}

main {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 1.5rem;
}